<!-- Put the HTML template for your page here! -->
<html>
	<head>
		<title>favorit sport</title>
	</head>

	<body>
		<h1>my favorit sprot is volleyball</h1>
		<h3>Volleyball is a team sport in which two teams of six players are separated by a net. Each team tries to score points by grounding a ball on the other team's court under organized rules.[1] It has been a part of the official program of the Summer Olympic Games since 1964.</h3>

		<h3>The ball is usually played with the hands or arms, but players can legally strike or push (short contact) the ball with any part of the body.</h3>

 		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</body>
</html>